.landingpage-section {
  padding: 2rem 0.25rem;
}

.hero{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  .hero-message{
    font-size: var(--fs-700);
    opacity: 0;
    text-align: center;
    animation: hero-message-animation 1s forwards ease-in-out;
  }
  img {
    display: block;
    width: 90%;
    margin: auto;
    opacity: 0;
    animation: hero-image-animation 1s forwards ease-in-out;
  }
}

.message{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  .message-headings{
    display: flex;
    gap: 1rem;
    font-size: var(--fs-700);
  }
  .message-statement{
    text-align: center;
  }
}

.technology{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  .technology-headings{
    font-size: var(--fs-700);
    text-align: center;
  }
  .technology-images{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
    .technology-image-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      width: 100%;
      margin-bottom: 2rem;

      svg{
        display: block;
      }
      .data-img{
        width: 30%;
      }
      .encryption-img{
        width: 45%;
      }
      .database-img{
        width: 45%;
      }
    }
  }
}

.pwa{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  .pwa-headings{
    font-size: var(--fs-700);
    text-align: center;
  }
}

@keyframes hero-message-animation {
  0%{
    margin-top: 2rem;
  }
  100%{
    margin-top: 0rem;
    opacity: 1;
  }
}
@keyframes hero-image-animation {
  0%{
    margin-top: -3rem;
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    margin-top: 0rem;
    opacity: 1;
  }
}

.data-img-smallcircle1, .data-img-smallcircle4{
  animation: small-circle-animation 5s steps(1, start) infinite;
}
.data-img-smallcircle2, .data-img-smallcircle5{
  animation: small-circle-animation2 5s steps(1, start) infinite;
  animation-delay: 1s;
}
.data-img-smallcircle3, .data-img-smallcircle6{
  animation: small-circle-animation3 5s steps(1, start) infinite;
  animation-delay: 2s;
}
.data-img-btn, .data-img-bigcircle{
  animation: small-circle-animation4 5s steps(1, start) infinite;
  animation-delay: 3s;
}

@keyframes small-circle-animation {
  0%{
    fill: #2F2F2F;
  }
  90%{
    fill: #2F2F2F;
  }
  100%{
    fill: #FF5722;
  }
}
@keyframes small-circle-animation2 {
  0%{
    fill: #2F2F2F;
  }
  90%{
    fill: #2F2F2F;
  }
  100%{
    fill: #FF5722;
  }
}
@keyframes small-circle-animation3 {
  0%{
    fill: #2F2F2F;
  }
  90%{
    fill: #2F2F2F;
  }
  100%{
    fill: #FF5722;
  }
}
@keyframes small-circle-animation4 {
  0%{
    fill: #2F2F2F;
  }
  90%{
    fill: #2F2F2F;
  }
  100%{
    fill: #FF5722;
  }
}

.enc-img-left{
  animation: enc-left-animation 4s steps(1, start) infinite;
}
.enc-img-middle{
  animation: enc-middle-animation 4s steps(1, start) infinite;
  animation-delay: 1s;
}
.enc-img-right{
  animation: enc-right-animation 4s steps(1, start) infinite;
  animation-delay: 2s;
}

@keyframes enc-left-animation {
  0%{
    fill: #2F2F2F;
  }
  90%{
    fill: #2F2F2F;
  }
  100%{
    fill: #FF5722;
  }
}
@keyframes enc-middle-animation {
  0%{
    fill: #2F2F2F;
  }
  90%{
    fill: #2F2F2F;
  }
  100%{
    fill: #FF5722;
  }
}
@keyframes enc-right-animation {
  0%{
    fill: #2F2F2F;
  }
  90%{
    fill: #2F2F2F;
  }
  100%{
    fill: #FF5722;
  }
}

.lock-img{
  animation: lock-animation 4s steps(1, start) infinite;
  animation-delay: 3s;
}

@keyframes lock-animation {
  0%{
    fill: #2F2F2F;
  }
  70%{
    fill: #2F2F2F;
  }
  100%{
    fill: #FF5722;
  }
}

.db-img{
  animation: db-animation 4s steps(1, start) infinite;
  animation-delay: 4s;
}
.db-img-border{
  animation: db-border-animation 4s steps(1, start) infinite;
  animation-delay: 4s;
}

@keyframes db-animation {
  0%{
    fill: white;
  }
  70%{
    fill: white;
  }
  100%{
    fill: #FF5722;
  }
}
@keyframes db-border-animation {
  0%{
    fill: #CCCCCC;
  }
  70%{
    fill: #CCCCCC;
  }
  100%{
    fill: #FF5722;
  }
}

@media only screen and (min-width: 768px){
  section{
    margin: 3.5rem;
  }
  .hero{
    .hero-message{
      font-size: var(--fs-1000);
    }
  }

  .message{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    text-align: center;

    .message-headings{
      flex-direction: column;
      font-size: var(--fs-800);
    }
    .message-statement{
      max-width: 50%;
    }
  }
  
  .technology{
    .technology-headings{
      font-size: var(--fs-800);
    }
    .technology-images{
      flex-direction: row;
      
      .technology-image-container{
        min-height: 10rem;
        height: 20rem;
        justify-content: space-between;

        .encryption-img1{
          height: 300px;
        }
      }
    }
  }
}