.landingpage-content{
  margin-top: 1rem;
  padding-bottom: 1rem;
  background: conic-gradient(from 225.35deg at 86.57% 2.55%, rgba(31, 175, 156, 0) 0deg, #1FAF9C 0.03deg, rgba(31, 175, 156, 0.533333) 63deg, rgba(31, 175, 156, 0) 360deg);
}
.landingpage-section {
  padding: 2rem 0.25rem;
}

.hero{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  margin-bottom: 2rem;

  img {
    display: block;
    width: 90%;
    margin: auto;
    opacity: 0;
    animation: hero-image-animation 1s forwards ease-in-out;
  }
  .hero-message{
    font-size: var(--fs-900);
    opacity: 0;
    width: 90%;
    animation: hero-message-animation 1s forwards ease-in-out;
    .hero-message-line:first-child(){
      text-align: left;
    }
    .hero-message-line:nth-child(2){
      text-align: right;
    }
    .hero-message-line:nth-child(3){
      font-size: var(--fs-400);
      text-align: center;
      margin-top: 1.5rem;
    }
  }
  .hero-action{
    button{
      width: 7rem;
    }
  }
}

.features{
  background-color: var(--clr-white-400);
  width: 85%;
  margin: 0 auto;
  border-radius: 0.15rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--clr-black-400);

  .feature{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 0.5rem;
    img{
      display: block;
      object-fit: cover;
      width: 75%;
    }
  }
  .feature > *{
    display: flex;
    justify-content: center;
  }
}

@keyframes hero-message-animation {
  0%{
    margin-top: 2rem;
  }
  100%{
    margin-top: 0rem;
    opacity: 1;
  }
}
@keyframes hero-image-animation {
  0%{
    margin-top: -3rem;
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    margin-top: 0rem;
    opacity: 1;
  }
}



@media only screen and (min-width: 768px){
  section{
    margin: 3.5rem;
  }
  .hero{
    .hero-message{
      font-size: var(--fs-1000);
    }
  }

  .message{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    text-align: center;

    .message-headings{
      flex-direction: column;
      font-size: var(--fs-800);
    }
    .message-statement{
      max-width: 50%;
    }
  }
  
  
}