.other-login-options{
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem;
  gap: 0.5rem;

  .nav-link{
    text-align: center;
  }
}

.reset-message{
  text-align: center;
  margin-top: 5rem;
}