.my-secrets-header{
  padding: 0rem 0.5rem;
  height: 3rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.25rem;
}

.search-keys{
  display: inline;
  position: relative;
  width: 100%;
}
.search-keys input{
  width: 100%;
}
.search-keys img{
  width: 1.5rem;
  position: absolute;
  right:0;
  top: 0;
}

.add-secret-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add-secret-btn img{
  width: 0.75rem;
  margin-left: 0.5rem;
}

.secret-tab-bar{
  background-color: var(--clr-white-400);
  margin: 1rem 0.75rem;
  box-shadow: 1px 1px 4px var(--clr-white-200);
  border: 2px solid var(--clr-white-200);
  border-radius: 0.25rem;
}

.my-secrets-main {
  .secret-tab-bar{
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
    align-items: center;
    padding: 0 0.5rem;
    height: 3rem;

    .secret-key, .secret-symbol{
      overflow: hidden;
      display: flex;
      flex-direction: column;
    }

    .secret-actions{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    img{
      width: 1.5rem;
      cursor: pointer;
    }

  }
}

.readonly-secret {
  label{
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  .copy-secret-icon{
    width: 1rem;
    cursor: pointer;
    padding-top: 0.15rem;
  }
}


.no-secrets-message{
  text-align: center;
  margin: 1rem 0.75rem;
}